.textField {
    margin: '10px auto 10px auto';
}

button {
    margin-top: 20px;
    position: 'relative';
}

.customError {
    color: deepskyblue;
    font-size: '0.8rem';
    padding-top: 10px;
}

.progess {
    position: 'absolute'
}