  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 233px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 12px 16px; */
    z-index: 1;
  }

  .refresh {
    margin-left: 50%;
  }
  
  .image {
    height: 470px;
    width: 600px;
}

.divTextField {
    margin: 0 1px 17px 1px;
}

.textField {
    background-color: #eeecec;
}

.Button {
    float: right;
    right: 20px;
}